.root {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
  color: #000000d9;
  font-weight: 600;
}

.root::after {
  content: '';
  display: block;
  width: 30%;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: 15px auto 0;
}

.colorBlack {
  color: #000;
}

.level1 {
  font-size: 38px;
  line-height: 1.23;
}

.level2 {
  font-size: 30px;
  line-height: 1.35;
}

.level3 {
  font-size: 24px;
  line-height: 1.35;
}

.level4 {
  font-size: 20px;
  line-height: 1.4;
}

.level5 {
  font-size: 16px;
  line-height: 1.5;
}
