.root {
  height: 80px;
}

.header {
  height: 80px;
  width: 100%;
  transition: height 0.2s linear, box-shadow 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(245, 245, 245, 0.97);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header.small {
  height: 60px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
  width: 125px;
  background-image: url('../../assets/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  transition: font-size 0.2s linear;
}

.nav li {
  position: relative;
}

.nav li a {
  transition: color 0.2s linear;
}

.nav li:hover a {
  color: red;
}

.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}

.header.small .logo {
  width: 89px;
  height: 50px;
}

.header.small .nav {
  font-size: 16px;
}
