.section {
  width: 100%;
}

.slider {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContent {
  padding: 64px 0 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subheader {
  font-size: 30px;
  margin-bottom: 60px;
}

.call {
  color: white;
  display: block;
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid white;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
